<p id="notice"><%= notice %></p>

<%= render "shared/movies_sort" %>

<div class="col-md-9">
  <%= render "shared/movies" %>
</div>

<div class="col-md-3 text-center mt-2">
  <%= link_to "New Movie", new_movie_path, class: "new-movie btn btn-success" %>
</div>
