<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-md-10 ml-4">
    <%= link_to "MovieRama", root_path, class: "navbar-brand logo" %>
  </div>
  <div class="col-md-2">
    <%= login_helper %>
  </div>
</nav> 